/*-- included fonts --*/

/* merriweather-regular - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/merriweather-v25-latin-regular.woff2") format("woff2");
}

/* merriweather-italic - latin */
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("./fonts/merriweather-v25-latin-italic.woff2") format("woff2");
}

/* merriweather-700 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./fonts/merriweather-v25-latin-700.woff2") format("woff2");
}

/* merriweather-700italic - latin */
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("./fonts/merriweather-v25-latin-700italic.woff2") format("woff2");
}
/*--- source sans pro --*/

/* source-sans-pro-regular - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/source-sans-pro-v14-latin-regular.woff2") format("woff2");
}

/* source-sans-pro-italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("./fonts/source-sans-pro-v14-latin-italic.woff2") format("woff2");
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./fonts/source-sans-pro-v14-latin-700.woff2") format("woff2");
}

/* source-sans-pro-700italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("./fonts/source-sans-pro-v14-latin-700italic.woff2") format("woff2");
}

/*-- generel settings --*/
:root {
  --standard-color-1: #73561c;
  --standard-color-2: #003f03;
  --standard-padding-1: 20px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: #5f4209;
  transition: color 0.4s linear;
}
a[target="_blank"] {
  text-decoration: none;
}
a[target="_blank"]::before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin-right: 4px;
}
a:hover {
  color: darkorange;
}
html,
body {
  /*
  overflow-x: hidden;
  */
}
html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  direction: ltr;
}
body {
  background-color: #ffd39f;
  margin: 0;
  position: relative;
  padding: 20px 30px;
  /*
    font-family: "Source Sans Pro", sans-serif;
    */
  color: #2f2f2f;

  font-size: 1.4rem;
  line-height: 1.4;
}

body > header {
  background-color: rgba(247, 209, 133, 0.8);
  border: 1px solid #e19600;
  border-radius: 15px;
  text-align: center;
}
main {
  padding: var(--standard-padding-1);
  background-color: #ccc;
}
p {
  margin-top: 0;
  margin-bottom: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--standard-color-1);
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Merriweather", serif;
}
section {
  position: relative;
}
article + article {
  margin-top: 5px;
}
article {
  border: 1px solid black;
  padding: 1rem;
  margin-top: 2rem;
}

section.test-position-relative > article {
  position: relative;
}
section.test-position-relative > article > h2 {
  left: -20px;
  top: -10px;
}

section.test-position-absolute > article:nth-of-type(2) {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  max-width: 500px;
}

section.test-position-fixed > article:nth-of-type(3) {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  /*
  max-width: 500px;
  */
}

section.test-position-sticky > article:nth-of-type(2) {
  background-color: rgba(255, 255, 255, 0.2);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
}

.hire-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #000;
  background-color: blanchedalmond;
}
